#search-bar {
  display: flex;
  background-color: white;
  border-radius: 10px;
  margin: 10px auto;
  width: 400px;
  box-shadow: 3px 3px 10px -3px grey;
  overflow: hidden;

  input {
    all: unset;
    flex-grow: 1;
    padding: 10px 20px;
  }

  button {
    border: none;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(205, 205, 255);
    width: 30px;
    cursor: pointer;

    img {
      max-width: 15px;
      max-height: 15px;
    }

    &:hover {
      background-color: rgb(179, 179, 255);
    }
  }
}
